
body{
    background-color: lightcyan;
} 

.tituloPrincipal{
    color:darkred; font-size: 30px;text-align:center;
}

.paraBio{
    font-size: 20px; text-align: justify;
}  

.atividadesFavoritas{
    font-size: 18px; 
}

.atividadesFavoritas li {
  height: 30px;
}

.imagemFav{
    border-radius: 4px; width:"150";
}

.capitulo{
    font-size: 20px; height: 30px; 
}

.tabela{
    background-color: aqua; border-style:double; 
}

.linkS{font-size: 18px}

.linkS:hover{
    color: purple;
}

.paraMens{
    font-size: 20px; color: blue;
}
